{{ ansible_managed | comment }}
{% if mailman3_nginx_template_content is defined %}
{{ mailman3_nginx_template_content }}
{% else %}
upstream mailman {
    server unix:/run/mailman3-web/uwsgi.sock weight=1 fail_timeout=0;
}
server {
    listen 80;
    listen [::]:80;
    server_name {{ '_' if mailman3_nginx_catch_all else mailman3_server_name }};
    return 301 https://$server_name$request_uri;

    access_log  /var/log/nginx/mailman_access.log  combined;
    error_log /var/log/nginx/mailman_error.log warn;
}
{% if mailman3_nginx_ssl is defined and mailman3_nginx_ssl %}
server {
    listen 443 ssl {{ mailman3_nginx_ssl_options }};
    listen [::]:443 ssl {{ mailman3_nginx_ssl_options }};
    server_name {{ '_' if mailman3_nginx_catch_all else mailman3_server_name }};
    server_tokens off;
{% if mailman3_nginx_self_crt %}
    ssl_certificate /etc/ssl/certs/ssl-cert-snakeoil.pem;
    ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;
{% else %}
    ssl_certificate /etc/letsencrypt/live/{{ mailman3_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ mailman3_server_name }}/privkey.pem;
{% endif %}
    client_max_body_size {{ mailman3_nginx_client_max_body_size }};

    location / {
        include "/etc/nginx/uwsgi_params";
        uwsgi_pass mailman;
    }

    location /mailman3/static {
        alias /var/lib/mailman3/web/static;

    }

    location /mailman3/static/favicon.ico {
        alias /var/lib/mailman3/web/static/postorius/img/favicon.ico;

    }

    access_log  /var/log/nginx/mailman_access.log  combined;
    error_log /var/log/nginx/mailman_error.log warn;
{% for file in mailman3_nginx_extra_includes | default([]) %}
    include {{ file }};
{% endfor %}
}
{% endif %}
{% endif %}
